# SandboxOS Limine v7 bootloader configuration
TIMEOUT=0
SERIAL=yes
DEFAULT_ENTRY=1

:SandboxOS
    PROTOCOL=limine
    KERNEL_PATH=boot:///boot/kernel.elf

:SandboxOS (VGA text mode)
    PROTOCOL=limine
    KERNEL_PATH=boot:///boot/kernel.elf
    TEXTMODE=yes
